@model IEnumerable<Online_Text_editor.Models.DocumentModel>

@{
    ViewData["Title"] = "ViewDocuments";
}

<h1>ViewDocuments</h1>

<p>
    <a asp-action="NewDocument">New Document</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
  @*          <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.DocumentId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.DocumentId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.DocumentId })
            </td>
        </tr>
}
    </tbody>
</table>
